/* Bordered form */
body {
    background-image: url('../image/shaping.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    display:flex;/*put body in speshal size*/
    justify-content: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    
    
}

/* Set a style for all buttons */
button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
    
}
   

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */

.container{
    text-align: center;
    margin-top: 50px;
}
a{
    color: white;
    
}

@media (max-width: 600px) {
    .loginContainer {
        width: 100%;
    }
}