<script src="js/angular/angular.js"></script>
<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/jquery/jquery-ui.min.js"></script>
<script src="js/angular/angular-resource.js"></script>

<div class="search" >
    <div ng-app="searchApp">
        <span class="welcom"><?php echo $WelcomeMessage; ?></span>
        <span class="page"><?php echo $NamePage; ?></span>
        <input type="text" placeholder="Search..." ng-model="searchData" class="form-control" />
        <div ng-controller="searchController">
            
        </div>
    </div>
</div>