<form class="login100-form" action="index.php" method="post">
    <span class="login100-form-title"> Log in </span>
    <span><?php echo $message; ?></span>

    <div class="wrap-input100" >
        <input class="input100" type="text" name="_Username" placeholder="Username" value="<?php echo $_Username; ?>">
       
    </div>

    <div class="wrap-input100">
        <input class="input100" type="password" name="_Password" placeholder="Password">
       
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" name="_Login">Login</button>
    </div>
    <br>
    <div class="text-center">
        <a class="txt1" href="forget_pass.php">
            Forgot Password?
        </a>
    </div>
</form>
            