<link rel="stylesheet" href="css/Page.css">

<script src="js/angular/angular.js"></script>
<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/groupList.js"></script>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/jquery/jquery-ui.min.js"></script>
<script src="js/angular/angular-resource.js"></script>



<div class="Content">
    <div ng-app="GroupListApp" ng-model="searchData.groupName" class="form-control">
        <div ng-controller="GroupListController">
            <table>
                <tr>
                    <th>groupName</th>
                    
                </tr>

                <tr ng-repeat="r in lst | filter : paginate | filter : searchData.groupName">
                    <td><a class="width100">{{r.groupname}}</a></td>
                    <td><a class="width100" href="">edit</a></td>
                    <td><a class="width100" href="">delet</a></td>
                </tr>

            </table>
            <div style="text-align:center" ng-show="showLoader">
                Loading...
            </div>
            <pagination total-items="totalItems" ng-model="currentPage"
                        max-size="5" boundary-links="true"
                        items-per-page="numPerPage" class="pagination-sm">
            </pagination>
            <p>Total number of users: {{totalItems}}</p>

        </div>
    </div>

</div>
